nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  padding-right: 24px;
  display: inline-block;
}

.Nav_Link, .Nav_Link:visited {
  color: #111;
  text-decoration: none;
  font-size: 1.1em;
}

.Nav_Link:hover {
  color: #333;
  text-decoration: underline;
}

.Nav_Link--active {
  text-decoration: underline;
}